body {
  margin: 0;
  font-family: Arial;
  color: red;

  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
}

/* overlay sombre */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);
  pointer-events: none;
}

/* layout */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL */
.left {
  width: 20%;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  border-right: 2px solid red;
  text-shadow: 0 0 10px red;
}

/* CENTER */
.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#minos {
  width: 300px;
  cursor: pointer;
  filter: drop-shadow(0 0 25px red);
  transition: transform 0.1s;
}

#minos:active {
  transform: scale(0.9);
}

/* SHOP */
.shop {
  width: 30%;
  padding: 20px;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(6px);
  overflow-y: auto;
  border-left: 2px solid red;
}

/* upgrade */
.upgrade {
  background: #111;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.upgrade:hover {
  background: red;
  color: black;
}

.tooltip {
  display: none;
  position: absolute;
  left: -200px;
  top: 0;
  width: 180px;
  background: black;
  border: 1px solid red;
  padding: 5px;
  font-size: 12px;
}

.upgrade:hover .tooltip {
  display: block;
}
