body {
  margin: 0;
  font-family: Arial;
  color: red;
  background: radial-gradient(circle, #1a0000, #000);
}

/* layout */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left {
  width: 20%;
  padding: 15px;
}

.panel {
  background: rgba(0,0,0,0.7);
  border: 2px solid red;
  padding: 10px;
  box-shadow: 0 0 15px red;
}

/* CENTER */
.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: radial-gradient(circle, rgba(255,0,0,0.4), transparent);
  border-radius: 50%;
  filter: blur(40px);
}

#minos {
  width: 300px;
  cursor: pointer;
  filter: drop-shadow(0 0 20px red)
          drop-shadow(0 0 40px crimson);
  z-index: 2;
}

#minos:active {
  transform: scale(0.9);
}

/* RIGHT */
.right {
  width: 30%;
  background: rgba(0,0,0,0.7);
  border-left: 2px solid red;
  padding: 15px;
  overflow-y: auto;
}

/* shop */
.upgrade {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #111;
  position: relative;
}

.upgrade:hover {
  background: red;
  color: black;
}

.tooltip {
  display: none;
  position: absolute;
  left: -180px;
  top: 0;
  width: 150px;
  background: black;
  border: 1px solid red;
  padding: 5px;
}

.upgrade:hover .tooltip {
  display: block;
}
