body {
  margin: 0;
  font-family: Arial;
  color: red;
  background: radial-gradient(circle, #1a0000, #000);
}

/* NAV TOP RIGHT */
.nav {
  position: fixed;
  top: 10px;
  right: 20px;
}

.nav span {
  margin-left: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.nav span:hover {
  color: white;
  text-shadow: 0 0 10px red;
  transform: scale(1.2);
}

/* layout */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left {
  width: 20%;
  padding: 15px;
}

.panel {
  background: rgba(0,0,0,0.7);
  border: 2px solid red;
  padding: 10px;
}

/* CENTER */
.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#minos {
  width: 300px;
  cursor: pointer;
  transition: transform 0.1s;
}

/* RIGHT */
.right {
  width: 30%;
  background: rgba(0,0,0,0.7);
  border-left: 2px solid red;
  padding: 15px;
  overflow-y: auto;
}

/* TABS */
.tab { display: none; }
.tab.active { display: block; }

/* SHOP BLOCKS */
.upgrade {
  background: #111;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.upgrade:hover {
  background: red;
  color: black;
  transform: scale(1.05);
}

/* INPUT */
input, textarea {
  width: 100%;
  margin-bottom: 10px;
  background: black;
  color: red;
  border: 1px solid red;
}
